.task-list-container {
    min-width: 100%;
    width: fit-content;
    min-height: 100%;
    height: fit-content;
    border: 1px black solid;
    border-radius: 25px;
    padding: 2rem;
}

h1 {
    text-align: center;
}

.task-list-row {
    height: 1rem;
}

.task-list-title {
    width: 15%;
}
