.root-container {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.app-task-list-container {
    width: clamp(40%, 500px, 500px);
    min-height: 40%;
}
